body {
color: white;
background-color: #eee;
background-image:linear-gradient(rgba(0, 0, 0, .95), rgba( 0, 0, 0, .95)), url(./static/images/background.webp);
background-size: cover;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  width: 90%;
  margin: 0;
}